#menu .close {
			background-image: url("https://saravanan-selvaraju.github.io/images/close.svg");
		}
.float::after{
    content: "Agenda";


}
.float{
	width: 120px !important;
	border-radius:10px !important;

}
.float {
	    background:red;
	    animation:myfirst 2s;
	    -moz-animation:myfirst 2s infinite; /* Firefox */
	    -webkit-animation:myfirst 2s infinite; /* Safari and Chrome */
	}

	@keyframes myfirst /* Safari and Chrome */ {
		0% {background:#af4309 !important;}
		25% {background:#5a00af !important;}
		50% {background:green !important;}
		75% {background:#FCBC0F !important;}
		100% {background:purple !important;}
}
	@-moz-keyframes myfirst /* Firefox */ {
	    0% {background:#af4309;}
			25% {background:#5a00af !important;}
			50% {background:green !important;}
	    75% {background:#FCBC0F !important;}
			100% {background:purple !important;}
	}

	@-webkit-keyframes myfirst /* Safari and Chrome */ {
		0% {background:#af4309 !important;}
		25% {background:#5a00af !important;}
		50% {background:green !important;}
		75% {background:#FCBC0F !important;}
		100% {background:purple !important;}
}

 
