#menu .close {
			background-image: url("https://saravanan-selvaraju.github.io/images/close.svg");
		}

	.float {
	    background:red;
	    animation:myfirst 2s;
	    -moz-animation:myfirst 2s infinite; /* Firefox */
	    -webkit-animation:myfirst 2s infinite; /* Safari and Chrome */
	}
	.float::after{
    content: "Agenda";


}
.float{
	width: 120px;
	border-radius:10px !important;

}
	@-moz-keyframes myfirst /* Firefox */ {
	    0% {background:#af4309;}
			25% {background:#5a00af;}
			50% {background:green;}
	    75% {background:#FCBC0F;}
			100% {background:purple;}
	}

	@-webkit-keyframes myfirst /* Safari and Chrome */ {
		0% {background:#af4309;}
		25% {background:#5a00af;}
		50% {background:green;}
		75% {background:#FCBC0F;}
		100% {background:purple;}
}
